<a class="btn btn-outline-primary"
   type="button"
   [routerLink]="['/patients']">
  Back
</a>
<div class="panel panel-primary">
  <div class="panel-body">
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="onSubmit()"
          [formGroup]="patientForm">
      <fieldset>
        <app-input-text formControlName="firstName" [placeholder]="'First Name (required)'" [label]="'First Name'"
                        [ngClass]="{'has-danger': (patientForm.get('firstName').touched ||
                                        patientForm.get('firstName').dirty) &&
                                        !patientForm.get('firstName').valid }">
          <app-control-error-message [control]="patientForm.get('firstName')"></app-control-error-message>
        </app-input-text>

        <app-input-text formControlName="lastName" [placeholder]="'Last Name (required)'" [label]="'Last Name'"
                        [ngClass]="{'has-danger': (patientForm.get('lastName').touched ||
                                        patientForm.get('lastName').dirty) &&
                                        !patientForm.get('lastName').valid }">
          <app-control-error-message [control]="patientForm.get('lastName')"></app-control-error-message>
        </app-input-text>

        <app-calendar formControlName="dateOfBirth" [placeholder]="'MM/DD/YYYY'" [label]="'Date Of Birth'"
                      [ngClass]="{'has-danger': (patientForm.get('dateOfBirth').touched ||
                                        patientForm.get('dateOfBirth').dirty) &&
                                        !patientForm.get('dateOfBirth').valid }">
          <app-control-error-message [control]="patientForm.get('dateOfBirth')"></app-control-error-message>
        </app-calendar>

        <app-input-text formControlName="address" [placeholder]="'Address (required)'" [label]="'Address'"
                        [ngClass]="{'has-danger': (patientForm.get('address').touched ||
                                        patientForm.get('address').dirty) &&
                                        !patientForm.get('address').valid }">
          <app-control-error-message [control]="patientForm.get('address')"></app-control-error-message>
        </app-input-text>

        <app-input-text formControlName="phone" [placeholder]="'Phone number (required)'" [label]="'Phone number'"
                        [ngClass]="{'has-danger': (patientForm.get('phone').touched ||
                                        patientForm.get('phone').dirty) &&
                                        !patientForm.get('phone').valid }">
          <app-control-error-message [control]="patientForm.get('phone')"></app-control-error-message>
        </app-input-text>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary"
                      type="submit"
                      [disabled]="!patientForm.valid">
                Save
              </button>
              <button class="btn btn-secondary"
                      type="reset">
                Reset
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
