<div class="row patient-list-item">
  <div class="col-md-8">
    <p>
      <b>ID:</b> {{ patient.id }}
    </p>
    <p>
      <b>First Name:</b> {{ patient.firstName }}
    </p>
    <p>
      <b>Last Name:</b> {{ patient.lastName}}
    </p>
    <p>
      <b>Date of Birth:</b> {{ patient.dob }}
    </p>
    <p>
      <b>Provider:</b> {{ patient.provider }}
    </p>
    <p>
      <b>Description:</b> {{ patient.description }}
    </p>
    <p>
      <b>Address:</b> {{ patient.address }}
    </p>
    <p>
      <b>Phone:</b> {{ patient.phone }}
    </p>
    <p>
      <b>Email:</b> {{ patient.email }}
    </p>
  </div>
  <div class="col-md-4 text-right">
    <button type="button" [routerLink]="['/patients', patient.id, 'edit']">Edit</button>
    <button type="button" (click)="onRemovePatient(patient)">X</button>
  </div>
</div>
